<launch>
 <node pkg="tf" type="static_transform_publisher" name="base_link_to_body"  args="0 0 0 0 0 0 /body /base_link 50" />

 <param name="use_sim_time" type="bool" value="true" />

 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <rosparam file="$(find spot_move_base)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find spot_move_base)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

  <rosparam file="$(find spot_move_base)/params/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find spot_move_base)/params/local_costmap_params.yaml" command="load" />

  <rosparam file="$(find spot_move_base)/params/base_local_planner_params.yaml" command="load" />
  <rosparam file="$(find spot_move_base)/params/move_base_params.yaml" command="load" />

  <param name="base_global_planner" type="string" value="asr_navfn/NavfnROS" />
  <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

  <remap from="odom" to="odometry/filtered" />
  <remap from="cmd_vel" to="cmd_vel_filtered" />

 </node>

</launch>
